<include file="Public/head" />
<style type="text/css">
	table tr > td:first-child{padding-left:20px;padding-bottom:10px;width:40%;text-align:center;}
	table tr > td:last-child input{width:80%;margin-bottom:10px;	}
</style>
<div>
	<div style="margin:24px;">
		<input style="height:36px;" type="text" size="24px" placeholder="请输入会员手机号过滤查询" id="phone" />
		<input style="height:36px;" type="text" size="21px" placeholder="请输入会员昵称过滤查询" id="name" />
		<select class="form-control" style="width:21%;height:36px;display:inline;border-radius:2px;" id="change">
			<option value="0">请选择支付方式</option>
			<option value="1">余额支付</option>
			<option value="2">线下微信支付</option>
			<option value="3">线下支付宝支付</option>
			<option value="4">线下银行卡支付</option>
		</select>
		<label>&nbsp;变更日期 :</label>
		<input style="height:36px;" type="date" size="24px" placeholder="输入支付时间查询" id="insta" />至
		<input style="height:36px;" type="date" size="24px" placeholder="输入支付时间查询" id="inend" />
		<button id="submit_search" class="btn btn-primary" onclick="searchState();">查询</button>			
	</div>
	<div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="userlist" style="padding-right: 20px;">
			<table id="jqGrid" style="width: 100%;"></table>
			<div id="jqGridPager"></div> 	
	    </div>
    	<div role="tabpanel" class="tab-pane" id="edituser">	
		</div>
	</div>
<include file="Public/footer" />
<script type="text/javascript">
	function formatIs(is) {
		if (parseInt(is)) {
			return "可用";			
		}else{
			return "不可用";
		}
	}	
	function fTime(createtime){
		var timestamp3 = createtime;  
		var newDate = new Date();
		newDate.setTime(timestamp3 * 1000);
		return newDate.toLocaleString();
	}
	function type(as){
		switch(parseInt(as)){
			case 1:
				return "余额支付";
				break;
			case 2:
				return "线下微信支付";
				break;
			case 3:
				return "线下支付宝支付";
				break;
			case 4:
				return "线下银行卡支付";
				break;
		}
	}
	$(document).ready(function($) {	
		$("#jqGrid").jqGrid({
			styleUI : 'Bootstrap',
			colModel: [
			    { label: '会员昵称', name: 'nickname',width:'80'},
			    { label: '会员手机号', name: 'phone',width:'110'},
			    { label: '支付日期', name: 'createtime',width:'120',formatter: fTime},
			    { label: '支付金额', name: 'money',width:'80' },
			    { label: '变更原因', name: 'message',width:'110' },
			    { label: '支付方式', name: 'paymenttype',width:'100' ,formatter: type},
			    
			],
			viewrecords: true,
			rownumbers: true,
			rownumWidth: 35,
			height: document.documentElement.clientHeight-135,
			autowidth:true,
			rowNum: 9,
			datatype: 'local',
			loadonce:true,
			pager: "#jqGridPager"
		});
		$("#jqGrid").jqGrid('setGridParam', { data: eval({$data})});
		$("#jqGrid").trigger('reloadGrid');
	});
</script>
<script>
	//模糊查询佣金
	function searchState(){
		var phone = $("#phone").val();
		var name = $("#name").val();
		var insta = $("#insta").val();
		var inend = $("#inend").val();
		var change = $("#change").val();
		$.ajax({
			url:"{:U('/Admin/Account/searchState')}",
			type:'GET',
			data:{'phone':phone,'start':insta,'end':inend,'change':change,'name':name},
			dataType:'json',
			success:function(returndata){
				$("#jqGrid").clearGridData();
	       		$("#jqGrid").jqGrid('setGridParam', { data: returndata});
	       		$("#jqGrid").trigger('reloadGrid');
			}
		});
	}
</script>