<include file="Public/head" />
<form id="fmform" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="fmimg" name="imgtype" value="" />
    <input id="fmimg" style="display: none;" name="fmimg" type="file" onchange="upload('fmform','imgurl')"/>
</form>
<style type="text/css">
    table tr > td:first-child{padding-left:20px;padding-bottom:10px;width:40%;text-align:center;}
    table tr > td:last-child input{width:60%;margin-bottom:10px;    }
</style>
         <div class="modal-body">
            <table class="modal-table" style="width:80%;">
              <tr>
              <td>支付方式：<span style="color:red">&nbsp;*</span></td>
                <td><select  name="classid" id="classid" class="form-control" value="{$data.type}" style="width:180px;">
                  <option class="xx" value="0">请选择支付方式</option>
                  <option class="xx" value="1">微信支付</option>
                  <option class="xx" value="2">支付宝支付</option>
              </select></td>
            </tr>
            <tr>
              <td>支付账号<span style="color:red">&nbsp;*</span></td>
              <td>
              <input type="text" class="form-control" name="number" placeholder="排序" id="number" value="{$data.number}"></td>
            </tr>
            <tr>  
              <td>发布人<span style="color:red">&nbsp;*</span></td>
                <td>
                <input type="hidden" name="userid" id="userid" value="{$data.id}"/>
                <input type="text" class="form-control"  name="author" id="author" placeholder="作者" value="{$data.author}"></td>
              </tr>
              <tr>
              <td>支付二维码</td>
              <td><img id="imgurl" name="imgurl" style="width: 130px;height: 130px;margin:5px auto;" class="form-control" src="{$data.imgqrcode}" onclick="javascript:$('#fmimg').click();"/>
              <input id="img" type="hidden" name="img" value="{$data.imgqrcode}" />{$data.imgqrcode}
              <span style="color:red;">上传图片尺寸为:1145 * 500 px</span>
                            </td>
            </tr> 
            <!-- <tr>
              <td>内容</td>
              <td>
                <span id="detail">{$data.content|htmlspecialchars_decode|stripslashes}</span>
              </td>
            </tr> -->
            </table>
        </div> 
                   
<button class="btn btn-default" style="width:200px;text-align:center;position:absolute;right:200px;margin-top:15px;" onclick="saveUser()">提交</button>
<include file="Public/footer" />
<!-- <script src="__PUBLIC__/ueditor/ueditor.config.js"></script> -->
<!-- <script src="__PUBLIC__/ueditor/ueditor.all.min.js"></script> -->
<script type="text/javascript">
  var classid = {$data.classid};
  console.log(classid);
  $('.xx')[classid].attr('option','selected');
</script>
<script type="text/javascript">
  $("#detail").hide();
    var ue;
    $(function(){
        $("#container").height(document.documentElement.clientHeight-160);
         ue = UE.getEditor('container',{
            serverUrl :"{:U('/Admin/Payment/ueditor')}"
        });
            ue.ready(function() {
            //设置编辑器的内容
            ue.setContent($("#detail").html());      
        });
    });
  //上传图片
  function upload(fromID,imgid){
    var vars=$("#"+fromID);
    var options={
        type:"post",
        url:"{:U('/Admin/File/Upload')}",
        dataType:'json',
        contentType:"application/json;charset=utf-8",
        success:function(data){
            if(data!="false"){
                $("#"+imgid).attr('src',data);
                $("#vidurl").attr('poster',data);
                $("#img").attr('value',data);
            }
        }
    }
    vars.ajaxSubmit(options);
  }
  //保存添加或修改的用户信息
  function saveUser(){
    var userid     = $("#userid").val();
    var author       = $("#author").val();
    var number       = $("#number").val();
    var type       = $("#classid").val();
    var img= $("#img").val();
      $.ajax({
        type     : "POST",
        url      : "{:U('/Admin/Payment/saveUser')}",
        data     : {"userid":userid,"author":author,"img":img,'number':number,'type':type},
        dataType : "json",
        error    : function(){},
        success  : function(data){
            console.log(data);
            if(data.status){
              $(window.parent.document).find("#main_iframe").attr("src",data.url);
            }else{
              alert(data.info);
            }             
        }
      });
  }

</script>

