<include file="Public/head" />
<style type="text/css">
    table tr > td:first-child{padding-left:20px;padding-bottom:10px;width:40%;text-align:center;}
    table tr > td:last-child input{width:80%;margin-bottom:10px;    }
</style>
<div>
    <div style="margin:24px;">
        <a href="{:U('/Admin/Banner/add')}" style="margin-left:10px;width:100px;" type="button" class="btn btn-primary">添加轮播图</a>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="userlist" style="padding-right: 20px;">
            <table id="jqGrid" style="width: 100%;"></table>
            <div id="jqGridPager"></div>    
        </div>
        <div role="tabpanel" class="tab-pane" id="edituser">    
        </div>
    </div>
<include file="Public/footer" />
<script id="container" name="content" type="text/plain" style="min-height: 400px;">
</script>
<script src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
    function formatLink(id) {
        var url = "{:U('Admin/Banner/getinfo')}"+"?id="+id;
        return "<a href='"+url+"' class='btn btn-primary' >编辑</a>&nbsp;<a class='btn btn-danger' href='javascript:' onclick='deleteUser("+id+");'>删除</a>";
    };
    function formatterImg(thumbnail){
        if(thumbnail != ''){
            return "<img src="+thumbnail+" style='width:100px;height:60px;'>";
        }
    }
    function deleteUser(id){
        if (confirm("确定要删除吗?")) {
            $.ajax({
                url: "{:U('/Admin/Banner/delete')}",
                dataType: "text",
                async: true,
                data: { "id": id},
                type: "GET",   
                success: function(req) {
                    if(req=="true")
                    {
                        $(window.parent.document).find("#main_iframe").attr("src","{:U('/Admin/Banner/index')}");
                    }else{
                        alert('删除失败!');
                    }
                }
            });         
        }
    }
    $(document).ready(function($) { 
        $("#jqGrid").jqGrid({
            styleUI : 'Bootstrap',
            colModel: [
                { label: 'ID', name: 'id',width:'60'},
                { label: '排序', name: 'sort',width:'60'},
                { label: '发布人', name: 'author',width:'100'},
                { label: '图片', name: 'img',width:'120',formatter: formatterImg},
                { label: '日期', name: 'createtime',width:'115'},
                { label: '操作', name: 'id',width:140,formatter: formatLink}
            ],
            viewrecords: true,
            rownumbers: true,
            rownumWidth: 35,
            height: document.documentElement.clientHeight-135,
            autowidth:true,
            rowNum: 9,
            datatype: 'local',
            loadonce:true,
            pager: "#jqGridPager"
        });
        $("#jqGrid").jqGrid('setGridParam', { data: eval({$lunbo})});
        $("#jqGrid").trigger('reloadGrid');
    });
</script>