<include file="Public/head" />
	<style>
		.test{float:left;margin:2rem;background-color: #66B3FF;width:18rem;height:8rem;border-radius: .5rem;border:1px solid #66B3FF;}
		/*.test .left{width:40%;margin:left;}*/
		.test .right{width:100%;text-align: center;}
		.test .right .font{color:white;font-size: 1.6rem;margin:1.5rem;line-height: 4rem;}
		.test .right p{color:white;font-size: 2rem;text-align: center;}

	</style>
	<div>
		<div class="test" style="background-color:#73BF00;">
			<div></div>
			<div class="right">
				<span class="font">累计会员总量</span>
				<p>{$num}人</p>
			</div>
		</div>
		<div class="test">
			<div></div>
			<div class="right">
				<span class="font">今日新增会员量</span>
				<p>{$numtoday}人</p>
			</div>
		</div>
		<div class="test">
			<div></div>
			<div class="right">
				<span class="font">历史累计收入总额</span>
				<p>{$money}元</p>
			</div>
		</div>
		<div class="test" style="background-color:#00E3E3;">
			<div></div>
			<div class="right">
				<span class="font">已发放提现总额</span>
				<p>{$rest}元</p>
			</div>
		</div>
		<!-- 未 -->
		<div class="test" style="background-color:#73BF00;">
			<div></div>
			<div class="right">
				<span class="font">会员账户余额总计</span>
				<p>{$restmoney}元</p>
			</div>
		</div>
		<!-- 未 -->
		<div class="test">
			<div></div>
			<div class="right">
				<span class="font">今日提现申请总计</span>
				<p>{$todaywith}人</p>
			</div>
		</div>
		<div class="test">
			<div></div>
			<div class="right">
				<span class="font">今日提现总额</span>
				<p>{$b}元</p>
			</div>
		</div>
		<!-- 未 -->
		<div class="test" style="background-color:#73BF00;">
			<div></div>
			<div class="right">
				<span class="font">已出局订单统计</span>
				<p>{$f}单</p>
			</div>
		</div>
		<!-- 未 -->
		<div class="test" style="background-color:#00E3E3;">
			<div></div>
			<div class="right">
				<span class="font">在线订单统计</span>
				<p>{$d}单</p>
			</div>
		</div>
	</div>
<include file="Public/footer" />
