<include file="Public/head" />
<script type="text/javascript" language="javascript">
   		function iframeResize(iframe) {
	        iframe.height = $(window).height()-155;
	        iframe.width = $(window).width()-30;
	    }
	    function OpenPage(menu){
	    	$("#headicon").removeClass();
			$("#headicon").addClass(menu.attr("funtypeicon"));
	    	$('#funtypename').html(menu.attr("funtype"));
	    	$('#funname').html(menu.html());
	    	if(menu.attr("data-url")==""){
	    		alert('没有设置data-url');
	    		return;
	    	}
	    	$('#main_iframe').attr("src",menu.attr("data-url"));
	    }
	</script>
<div class="container maindiv">
	<div id="nav" class="row">
		<div class="headtitle">金鑫尊享</div>
		<div class="headright">
			欢迎您:&nbsp;{$_SESSION['username']}&nbsp;&nbsp;
			<a href="{:U('/Admin/Main/index')}" style="color: #FFFFFF;">&nbsp;&nbsp;&nbsp;[后台首页]</a>
			<a href="{:U('/Admin/Login/logout')}" style="color: #FFFFFF">&nbsp;[退出]</a>
		</div>
	</div>
	</div>
	<div class="row">
		<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-cog"></span>
			          系统管理
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="系统管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Admin/index')}" class="glyphicon glyphicon-user" onclick="OpenPage($(this));">&nbsp;管理员</a></li>
			        	<li><a href="javascript:" funtype="系统管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Admin/changepwd')}" class="	glyphicon glyphicon-lock" onclick="OpenPage($(this));">&nbsp;修改密码</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTw" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTw" aria-expanded="true" aria-controls="collapseTw" style="font-weight:700;">
			        	<span class="	glyphicon glyphicon-user"></span>
			          数据统计
			        </a>
			      </h4>
			   </div>
			   <div id="collapseTw" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTw">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="数据统计" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Data/index')}" class="glyphicon glyphicon-th-large" onclick="OpenPage($(this));">&nbsp;数据统计</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>
			   
			   
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingEl" style="padding-left: 5px;">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEl" aria-expanded="true" aria-controls="collapseEl" style="font-weight:700;">
				        	<span class="	glyphicon glyphicon-mba"></span>
				          支付管理
				        </a>
				      </h4>
				    </div>
				    <div id="collapseEl" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEl">
				      <div class="panel-body" style="padding: 0px;">
				        <ul class="navul">
				        	<li><a href="javascript:" funtype="支付" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Payment/index')}" class="glyphicon glyphicon-flag" onclick="OpenPage($(this));">&nbsp;支付管理</a></li>
				        	<li><a href="javascript:" funtype="余额充值" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Payment/recharge')}" class="glyphicon glyphicon-flag" onclick="OpenPage($(this));">&nbsp;余额充值管理</a></li>	
				        		
				        </ul>
				      </div>
				    </div>
				</div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingT" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseT" aria-expanded="true" aria-controls="collapseTwo" style="font-weight:700;">
			        	<span class="	glyphicon glyphicon-user"></span>
			          会员管理
			        </a>
			      </h4>
			   </div>
			   <div id="collapseT" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingT">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="会员管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/User/user')}" class="glyphicon glyphicon-th-large" onclick="OpenPage($(this));">&nbsp;所有会员管理</a></li>

			        </ul>
			      </div>
			    </div>
			  </div>
				<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingF" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseF" aria-expanded="true" aria-controls="collapseFive" style="font-weight:700;">
			        	<span class="	glyphicon glyphicon-usd"></span>
			          财务对账台
			        </a>
			      </h4>
			    </div>
			    <div id="collapseF" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingF">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<!-- <li><a href="javascript:" funtype="财务对账台" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Account/index')}" class="glyphicon glyphicon-flag" onclick="OpenPage($(this));">&nbsp;所有支付列表</a></li> -->
			        	<li><a href="javascript:" funtype="财务对账台" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Account/rest')}" class="glyphicon glyphicon-flag" onclick="OpenPage($(this));">&nbsp;余额支付列表</a></li>
			        	<li><a href="javascript:" funtype="财务对账台" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Account/weixin')}" class="glyphicon glyphicon-flag" onclick="OpenPage($(this));">&nbsp;线下微信转账列表</a></li>
			        	<li><a href="javascript:" funtype="财务对账台" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Account/zhi')}" class="glyphicon glyphicon-flag" onclick="OpenPage($(this));">&nbsp;线下支付宝转账列表</a></li>
			        	<li><a href="javascript:" funtype="财务对账台" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Account/bank')}" class="glyphicon glyphicon-flag" onclick="OpenPage($(this));">&nbsp;线下银行卡转账列表</a></li>
			        </ul>
			      </div>
			    </div>
			  	<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-gift"></span>
			         订单管理
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="订单管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Order/index')}" class="glyphicon glyphicon-tag" onclick="OpenPage($(this));">&nbsp;所有订单列表：</a></li>
			        	<li><a href="javascript:" funtype="订单管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Order/ordering')}" class="glyphicon glyphicon-tag" onclick="OpenPage($(this));">&nbsp;在线订单列表：</a></li>
						<li><a href="javascript:" funtype="订单管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Order/orderout')}" class="glyphicon glyphicon-tag" onclick="OpenPage($(this));">&nbsp;出局订单列表：</a></li>
						<li><a href="javascript:" funtype="未支付订单管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Order/wei')}" class="glyphicon glyphicon-tag" onclick="OpenPage($(this));">&nbsp;未支付订单列表：</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>


			  	<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingfor" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion"  href="#collapsefor" aria-expanded="true" aria-controls="collapsefor" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-facetime-video"></span>
			          发货管理
			        </a>
			      </h4>
			    </div>
			    <div id="collapsefor" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfor">
			      <div class="panel-body" style="padding: 0px;">
			         <ul class="navul">
			        	<li><a href="javascript:" funtype="发货管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Deliver/index')}" class="glyphicon glyphicon-th-large" onclick="OpenPage($(this));">&nbsp;发货管理列表：</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  	<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingSix" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix" style="font-weight:700;">
			        	<span class="	glyphicon glyphicon-comment"></span>
			          提现管理
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="提现管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Withdrawals/index')}" class="	glyphicon glyphicon-align-justify" onclick="OpenPage($(this));">&nbsp;提现列表</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  	<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFi" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFi" aria-expanded="true" aria-controls="collapseFive" style="font-weight:700;">
			        	<span class="	glyphicon glyphicon-comment"></span>
			          商品管理
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFi" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFi">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="商品管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Goods/index')}" class="glyphicon glyphicon-flag" onclick="OpenPage($(this));">&nbsp;商品管理</a></li>
                    	
			        </ul>
			      </div>
			    </div>
			  </div>
			  	<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFive" style="padding-left: 5px;">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive" style="font-weight:700;">
				        	<span class="	glyphicon glyphicon-usd"></span>
				          首页文章管理
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
				      <div class="panel-body" style="padding: 0px;">
				        <ul class="navul">
				        	<li><a href="javascript:" funtype="首页文章管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Article/article')}" class="glyphicon glyphicon-flag" onclick="OpenPage($(this));">&nbsp;首页文章管理</a></li>

				        </ul>
				      </div>
				    </div>
				</div>
			  	<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTen" style="padding-left: 5px;">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen" style="font-weight:700;">
				        	<span class="	glyphicon glyphicon-msd"></span>
				          轮播图管理
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTen" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTen">
				      <div class="panel-body" style="padding: 0px;">
				        <ul class="navul">
				        	<li><a href="javascript:" funtype="轮播图" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Banner/index')}" class="glyphicon glyphicon-flag" onclick="OpenPage($(this));">&nbsp;轮播图管理</a></li>	
				        		
				        </ul>
				      </div>
				    </div>
				</div>
			   <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="font-weight:700;">
			        	<span class="	glyphicon glyphicon-user"></span>
			          系统设置
			        </a>
			      </h4>
			   </div>
			   <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="系统设置" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Config/index')}" class="glyphicon glyphicon-th-large" onclick="OpenPage($(this));">&nbsp;系统设置</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  </div>
			</div>
		</div>
		<div class="col-md-10" style="padding-left: 0px;padding-right: 0px;">
			<div id="header" class="row contenthead">
				<span id="headicon" class="glyphicon glyphicon-home"></span>
				<span id="funtypename">后台首页</span>
				<span id="headfh" style="margin-left: 2px; margin-right: 2px"> >> </span>
				<span id="funname"></span>
			</div>
			<div>

			</div>

			<div class="row">
				<iframe src="{:U('Admin/Data/index')}" id="main_iframe" name="main_iframe"
					style="width: 100%;" frameborder="0" onload="iframeResize(this);" ></iframe>
			</div>
		</div>
	</div>
</div>
<include file="Public/footer" />
