<include file="Public/head" />
<style type="text/css">
	table tr > td:first-child{padding-left:20px;padding-bottom:10px;width:40%;text-align:center;}
	table tr > td:last-child input{width:80%;margin-bottom:10px;	}
</style>
<div>
	<!-- <form action="" method="get" class="form-horizontal" role="form" id="form1"> -->
		<div style="margin:24px;">
			<input style="height:36px;" type="text" size="24px" id="search" name="search" placeholder="请输入文章标题进行过滤查询"/>
			<label>&nbsp;发表时间 :</label>
			<input style="height:36px;" type="date" size="24px" id="insta" />至
			<input style="height:36px;" type="date" size="24px" id="inend" />
			<button style="margin-left:10px;width:100px;" class="btn btn-primary" onclick="searchState();">查询文章</button>
			<a href="{:U('/Admin/Article/getinfo')}" style="margin-left:10px;width:100px;" type="button" class="btn btn-primary">添加文章</a>
		</div>
	<!-- </form> -->
	<div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="userlist" style="padding-right: 20px;">
			<table id="jqGrid" style="width: 100%;"></table>
			<div id="jqGridPager"></div> 	
	    </div>
    	<div role="tabpanel" class="tab-pane" id="edituser">	
		</div>
	</div>
<include file="Public/footer" />
<script id="container" name="content" type="text/plain" style="min-height: 400px;">
</script>
<script src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
	// &nbsp;<a class='btn btn-danger' href='javascript:' onclick='deleteUser("+id+");'>删除</a> 
	function formatLink(id) {
		var url = "{:U('Admin/Article/getinfo')}"+"?id="+id;
		return "<a href='"+url+"' class='btn btn-primary' >编辑</a>&nbsp;<a class='btn btn-danger' href='javascript:' onclick='deleteUser("+id+");'>删除</a>";

		// return "<a class='btn btn-danger' href='javascript:' onclick='edit("+id+");'>编辑</a>&nbsp<a class='btn btn-danger' href='javascript:' onclick='deleteUser("+id+");'>删除</a>";
	};
	function formatterImg(thumbnail){
		if(thumbnail != ''){
			return "<img src="+thumbnail+" style='width:60px;height:50px;'>";
		}
	}
	//模糊查询文章
	function searchState(){
		var search = $("#search").val();
		var insta = $("#insta").val();
		var inend = $("#inend").val();
		// var paytype = $("#paytype").val();
		$.ajax({
			url:"{:U('/Admin/Article/searchState')}",
			type:'GET',
			data:{'name':search,'start':insta,'end':inend},
			dataType:'json',
			success:function(returndata){
				$("#jqGrid").clearGridData();
	       		$("#jqGrid").jqGrid('setGridParam', { data: returndata});
	       		$("#jqGrid").trigger('reloadGrid');
			}
		});
	}
	function edit(id){
		$.ajax({
			url: "{:U('Admin/Article/getinfo')}",
			dataType: "json",
			async: false,
			data: { "id": id},
			type: "GET",   
			success: function(req) {
				$("#userid").val(id);
				$(window.parent.document).find("#main_iframe").attr("src","{:U('/Admin/Article/addaticle')}"+"?id="+id);
			}
	    });
	}
	function deleteUser(id){
		if (confirm("你确定要删除吗?")) {
			$.ajax({
				url: "{:U('/Admin/Article/deleteUser')}",
				dataType: "text",
				async: true,
				data: { "id": id},
				type: "GET",   
				success: function(req) {
					if(req=="true")
					{
						$(window.parent.document).find("#main_iframe").attr("src","{:U('/Admin/Article/Article')}");
					}else{
						alert('文章删除失败!');
					}
				}
		    });			
		}
	}
	//时间戳转换为日期格式
	// function time(nS){
	// 	 return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' '); 
	// }
	function type(as) {
		switch(parseInt(as)){
			case 1:
			  return "新手指南";
			  break;
			case 2:
			  return "通知公告";
			  break;
			case 3:
			  return "公司简介";
			  break;
		} 
	}
	$(document).ready(function($) {	
		$("#jqGrid").jqGrid({
			styleUI : 'Bootstrap',
			colModel: [
			    { label: '标题', name: 'title',width:'80'},
			    { label: '作者', name: 'author',width:'100'},
			    { label: '标题类别', name: 'classid',width:'100',formatter: type},
			    { label: '缩图', name: 'thumbnail',width:'120',formatter: formatterImg},
			    { label: '日期', name: 'createtime',width:'115'},
			    { label: '描述', name: 'description',width:'120'},
			    { label: '观看数', name: 'looknum',width:'60'},
			    // { label: '是否可用', name: 'isenable',width:'60',formatter: formatIs},
			    { label: '操作', name: 'id',width:140,formatter: formatLink}
			],
			viewrecords: true,
			rownumbers: true,
			rownumWidth: 35,
			height: document.documentElement.clientHeight-135,
			autowidth:true,
			rowNum: 9,
			datatype: 'local',
			loadonce:true,
			pager: "#jqGridPager"
		});
		$("#jqGrid").jqGrid('setGridParam', { data: eval({$info})});
		$("#jqGrid").trigger('reloadGrid');
	});
</script>